<h1 style="text-align: center; margin-bottom: 1.5rem;">{{title}}</h1>
<div class="container">
  <div *ngIf="articulos!=null; else espera">
    <table datatable [dtOptions]="dtOptions" class="table table-striped row-border hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="">Departamento</th>
          <th scope="col" class="encabezado">Municipio</th>
          <th scope="col" class="encabezado">Arma del hurto</th>
          <th scope="col" class="encabezado">Fecha del hurto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let art of articulos">
          <td>{{ art.departamento }}</td>
          <td>{{ art.municipio }}</td>
          <td>{{ art.armas_medios }}</td>
          <td>{{ art.fecha_hecho }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #espera>Esperando datos...</ng-template>
</div>


